<h3 class="padding-top">All Users</h3>

<table class="style-user-table">
  <tr>
    <th>Name</th>
    <th>ID</th>
    <th>Edit User</th>
    <th>Change Status</th>
    <th>Delete User</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%="#{user.first_name} #{user.last_name}" %></td>
    <td><%="#{user.id}" %></td>
    <td><%= link_to("Edit", edit_user_path(user.id)) %></td>
    <td><%= link_to("Make #{active_for_button(user)}", toggle_path(user.id), method: :patch) %></td>
    <td><%= link_to("Delete", user_path(user.id), method: :delete, data: {confirm: "Are you sure? Deleting a user is permanent."}) %></td>
  </tr>
<% end %>
</table>
