<h3 class="padding-top"><%= "Welcome, #{@user.first_name}" %></h3>
<p class="flash-notice"><%= render partial: 'shared/flash_notice' %></p>

<div class="row">
  <section class="small-6 columns">
    <h4><strong>Your Account Information</strong></h4>
    <p><%= "First name: #{@user.first_name}" %></p>
    <p><%= "Last name: #{@user.last_name}" %></p>
    <p><%= button_to 'Edit Account Information', account_edit_path, :class => "button", method: :get%></p>
  </section>

  <section class="small-6 columns">
    <h5><strong>Addresses</strong></h5>

    <% @addresses.each do |address|%>
      <table class="display-inline">
        <tr>
          <td><strong><%= address.kind.capitalize %></strong></td>
          <td><%= link_to("Edit", edit_address_path(address.id)) %></td>
          <td><%= link_to("Delete", address_path(address.id), {method: :delete, data: {confirm: "Are you sure? Deleting an address is permanent."}}) %></td>
        </tr>
    <% end %>
    </table>

    <p><%= button_to 'Add a New Address', new_address_path, :method => :get, :class => "button"%></p>

  </section>
</div>
