<section>

  <h1>THIS IS YOUR SHOPPING CART, YO!</h1>
  <!-- This should get flash notice class -->
  <%= flash[:alert] %>
  <h2>User name:</h2>
  <%= @user.first_name %>
  <h2>Order ID:</h2>
  <%= @order.id %>
  <h2>Products in your cart:</h2>
    <table>
      <tr>
        <h3>
          <th>Product Name:</th>
          <th>Category:</th>
          <th>Qty:</th>
          <th>Price Per:</th>
          <th>Total Price:</th>
          <th></th>
          <!-- <th>Edit:</th> -->
        </h3>
      </tr>


  <% @order.order_products.each do |order_product| %>
    <tr>
      <td><%= Product.find(order_product.product_id).name %></td>
      <td><%= Product.find(order_product.product_id).category.name %></td>
      <td><%= button_to "-", { controller: 'order_products', action: 'update', id: order_product.id, delta: -1}, method: :patch %>
          <%= order_product.qty %>
          <%= button_to "+", { controller: 'order_products', action: 'update', id: order_product.id, delta: 1}, method: :patch  %>
      </td>
      <td><%= number_to_currency(order_product.price_per/100.0) %></td>
      <td><%= number_to_currency(order_product.line_item_price/100.0) %></td>

      <td><%= button_to "Remove", {controller: :order_products, action: :destroy, id: order_product.id}, method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <h3>Order Total: </h3><%=number_to_currency(@order.subtotal/100.0) %>
</section>
<section class="row">
  <div class="small-6 columns">
    <h5><strong>Shipping Address</strong></h5>
    <% @user.addresses.each do |address|  %>
      <% if address.kind == "Shipping" %>
      <ul>
        <li><%= address.first_name %>
        <%= address.last_name %></li>
        <li><%= address.street1 %></li>
        <li><%= address.street2 %></li>
        <li><%= address.city %>,
        <%= address.state %>
        <%= address.zip %>
        <%= address.country %></li>
        <li><%= address.phone %></li>
        <%= link_to("Edit", edit_address_path(address.id)) %>
        <%= button_to "Select Address", { controller: 'orders', action: 'update', id: @order, order: {order_status: 'ordered'} }, method: :patch, class: :button%>
        <br>
      </ul>
      <% end %>
    <% end %>

    <%= button_to 'Add a New Address', new_address_path, :method => :get, :class => "button"%>
  </div>

  <div class="small-6 columns">
    <h5><strong>Billing Address</strong></h5>

      <% @user.addresses.each do |address|  %>
        <% if address.kind == "Billing" %>
        <ul>
          <li><%= address.first_name %>
          <%= address.last_name %></li>
          <li><%= address.street1 %></li>
          <li><%= address.street2 %></li>
          <li><%= address.city %>,
          <%= address.state %>
          <%= address.zip %>
          <%= address.country %></li>
          <li><%= address.phone %></li>
          <%= link_to("Edit", edit_address_path(address.id)) %>
          <br>
        </ul>
        <% end %>
      <% end %>
      <%= button_to 'Add a New Address', new_address_path, :method => :get, :class => "button"%>
  </div>

</section>
  <%= button_to "Checkout", { controller: 'orders', action: 'update', id: @order, order: {order_status: 'ordered'} }, method: :patch, class: :button%>
