<%= form_for @address,
  url: action_name do |f| %>
<ul>
    <li><%= f.select :kind, ['Shipping','Billing'] %></li>
    <li><%= f.hidden_field :user_id, value: @user.id %></li>
    <li><%= f.text_field :first_name, placeholder: "First Name" %></li>
    <li><%= f.text_field :last_name, placeholder: "Last Name" %></li>
    <li><%= f.text_field :street1, placeholder: "Street Address" %></li>
    <li><%= f.text_field :street2, placeholder: "Street Address" %></li>
    <li><%= f.text_field :city, placeholder: "City" %></li>
    <li><%= f.text_field :state, placeholder: "State" %></li>
    <li><%= f.text_field :zip, placeholder: "Zip" %></li>
    <li><%= f.text_field :country, placeholder: "Country" %></li>
    <li><%= f.text_field :phone, placeholder: "Phone" %></li>
    <li><%= f.submit "Save Address", class:"hollow button" %></li>
</ul>

<% end %>
