<%= form_for @category,
  url: action_name do |f| %>
<ul>
  <li><%= f.label :name %></li>
  <li><%= f.text_field :name %></li>

  <!-- will need to add gem and figure out how to upload photos -->
  <li><%= f.file_field :image%></li>

  <li><%= f.submit %> </li>
</ul>

<% end %>
