<%= form_for @product,
  url: action_name do |f| %>
<ul>
  <li><%= f.label :name %></li>
  <li><%= f.text_field :name %></li>

  <li><%= f.label :description %></li>
  <li><%= f.text_area :description %></li>

  <li><%= f.label :price %></li>
  <li><%= f.text_field :price %></li>

  <li><%= f.label "Quantity on Hand" %></li>
  <li><%= f.text_field :inventory_qty%></li>
<!-- move Category.all to controller once we get form working - right now I have it here for debugging purposes. For edit dropdown would be great if it prefilled with current category  -->
  <li><%= f.label :category_id %></li>
  <li><%= select_tag(:category_id, options_for_select(Category.all.map{|c| [ c.name, c.id ] }, @product.category_id), :prompt => "Select one!") %></li>

  <li><%= f.label "Active Status" %></li>
  <li><%= f.select :active, [['Active', true], ['Inactive', false]] %></li>
<!-- will need to add gem and figure out how to upload photos -->
  <li><%= f.file_field :image%></li>

  <li><%= f.submit class:"hollow button" %> </li>
</ul>

<% end %>
