<div class="row">
  <section class="small-6 columns padding-top">
    <ul>
      <li><%=image_tag(@product.picture, :alt => "product photo", :title => @product.name)%></li>
    </ul>
  </section>
  <section class="small-6 columns padding-top">
    <ul>
      <li><h1><%= @product.name %></h1></li>
      <li><h3>Details</h3></li>
      <%=@product.description%></li>
      <li><%= number_to_currency((@product.price/100))%></li>
      <li><%= @product.inventory_qty %> in stock</li>
      <!-- uncomment this once we know path for adding items to a cart -->
      <!-- <li><%= button_to 'Add to Cart', edit_product_path(params[:id]), :class => "button", method: :get %></li> -->
    </ul>
  </section>
</div>

<<<<<<< HEAD
<section>
  <p><%=@product.description%></p>
  <p><%=@product.price%></p>
  <p><%=image_tag(@product.picture, :alt => "product photo", :title => "Product")%></p>
</section>

<section>
  <% @product.reviews.each do |review| %>
    <p><%= review.subject %></p>
    <p><%= review.body %></p>
    <p><%= review.rating %></p>
  <% end %>
<!-- may want to add an option to edit reviews on this page (only available if user is logged in and it is their review) -->
</section>

<ul>
  <li>
     <%= button_to 'Add to Cart', controller: :orders, :class => "button", method: :get  %>
  </li>
</ul>

<!-- need to add if statement here later - only see these options if they are admin. -->
<ul>
  <li><%= button_to 'Edit Product', edit_product_path(params[:id]), :class => "button", method: :get %></li>
<!-- what if product is inactive already - should we add if statement here so that button changes to be "Mark As Active"? -->
  <li><%= button_to 'Mark as Inactive', product_path(params[:id]), :class => "button", method: :delete, data: {confirm: 'Are you sure you want to make this product inactive?'} %>
  </li>
</ul>
=======
<div class="row">
  <section class="small-6 columns">
    <ul>
      <li><h2> Product Reviews </h2></li>
    <% @product.reviews.each do |review| %>
      <li><strong><%= review.subject %></strong></li>
      <li><%= show_lemons(review) %></li>
      <li><%= review.body %></li>
      <!-- may want to add an option to edit reviews on this page (only available if user is logged in and it is their review) -->
    <% end %>
    </ul>
    <ul id="admin-button-location">
      <!-- need to add if statement here later - only see these options if they are admin. -->
      <li><%= button_to 'Edit Product', edit_product_path(params[:id]), :class => "button", method: :get %></li>
    <!-- what if product is inactive already - we should add if statement here so that button changes to be "Mark As Active" -->
      <li><%= button_to 'Mark as Inactive', product_path(params[:id]), :class => "button", method: :delete, data: {confirm: 'Are you sure you want to make this product inactive?'} %>
      </li>
    </ul>
  </section>
  <section class="small-6 columns">
    <ul>
      <li><h3>Leave your Review for <%= @product.name %></h3></li>
    </ul>
      <%= render partial: "reviews/reviewform", locals: { controller: 'reviews', action_name: reviews_path } %>
  </section>
</div>
>>>>>>> 7739adba65483e087e1b3143ff054e6a20f72a31
