<div class="row">
  <section class="small-6 columns padding-top">
    <ul>
      <li><%=image_tag(@product.image.url(:medium), :alt => "product photo", :title => @product.name)%></li>
    </ul>
  </section>
  <section class="small-6 columns padding-top">
    <ul class="line-height">
      <li><h1><%= @product.name %></h1></li>
      <li><h3>Details</h3></li>
      <%=@product.description%></li>
      <li><%= number_to_currency((@product.price/100))%></li>
      <li><%= @product.inventory_qty %> in stock</li>
      <li><%= button_to 'Add to Cart', { controller: 'order_products', id: @product.id} , :class => "button", method: :post %></li>
    </ul>
  </section>
</div>

<div class="row reviews-show">
  <section class="small-6 columns">
    <ul class="line-height">
      <li><h2> Product Reviews </h2></li>
      <% if @product.reviews.empty? %>
        <%= "No reviews yet." %>
      <% else %>
      <% @product.reviews.each do |review| %>
          <li><strong><%= review.subject %></strong></li>
          <li><%= show_lemons(review) %></li>
          <li><%= review.body %></li>
          <% end %>
        <% end %>
    </ul>

    <% if !session[:user_id].nil? %>
      <% if @user.admin %>
        <ul id="admin-button-location">

          <li><%= button_to 'Edit Product', edit_product_path(params[:id]), :class => "button", method: :get %></li>
          <li><%= button_to("Mark #{active_for_button(@product)}", toggle_product_path(@product.id), method: :patch, data: {confirm: 'Are you sure you want to make this product inactive?'}) %></li>

        </ul>
      <% end  %>
    <% end  %>
  </section>



  <section class="small-6 columns">
    <% if session[:user_id] != nil %>
    <ul>
      <li><h3>Leave your Review for <%= @product.name %></h3></li>
    </ul>
      <%= render partial: "reviews/reviewform", locals: {  action_name: product_reviews_path(@product.id)} %>
    <% end %>
  </section>
</div>
