<h1><%= @product.name %></h1>

<section>
  <ul>
    <li><%=@product.description%></li>
    <li><%=number_to_currency((@product.price/100))%></li>
    <li><%=image_tag(@product.picture, :alt => "product photo", :title => @product.name)%></li>
</ul>
</section>

<h2> Product Reviews </h2>
<section>
  <% @product.reviews.each do |review| %>
    <ul>
      <li><%= review.subject %></li>
      <li><%= show_lemons(review) %></li>
      <li><%= review.body %></li>
    </ul>
  <% end %>
<!-- may want to add an option to edit reviews on this page (only available if user is logged in and it is their review) -->
</section>

<!-- need to add if statement here later - only see these options if they are admin. -->
<ul>
  <li><%= button_to 'Edit Product', edit_product_path(params[:id]), :class => "button", method: :get %></li>
<!-- what if product is inactive already - we should add if statement here so that button changes to be "Mark As Active" -->
  <li><%= button_to 'Mark as Inactive', product_path(params[:id]), :class => "button", method: :delete, data: {confirm: 'Are you sure you want to make this product inactive?'} %>
  </li>
</ul>
