<h1><%= @product[:name] %></h1>

<section>
  <p><%=@product[:description]%></p>
  <p><%=@product[:price]%></p>
  <p><%=@product[:picture]%></p>
</section>
<!-- need to add if statement here - only see these options if they are admin -->
<ul>
  <li><%= button_to 'Edit Product', edit_product_path(params[:id]), :class => "button", method: :get %></li>
  <li><%= button_to 'Retire Product', product_path(params[:id]), :class => "button", method: :delete, data: {confirm: 'Are you sure?'} %>
  </li>
</ul>
