<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><h1>BEYONCY</h1></li>
          <li><a href='/products'>Shop</a></li>
          <% if session[:user_id].nil? %>
            <li><a href='/auth/github'>Login</a></li>
          <% else %>
            <li><%= link_to "My Account", account_path %></li>
            <li><%= link_to "Log Out", logout_path %></li>
          <% end %>
            <li><%= link_to "Cart", cart_path %></li>

        </ul>
      </nav>
    </header>

    <%= yield %>

  </body>
</html>
